@page {
  size: A4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: #cccccc;
  text-decoration: none;
}

html {
  width: 800px;
}

body {
  width: 800px;
  height: 1122px;
  overflow-x: hidden;
  font-family: 'Cambria';
  border: 0.2px solid black;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 6px;
}

.section__title {
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid white;
}

.right-side .section__title {
  color: #1e1e1e;
  font-weight: 700;
  font-size: 16px;
  border-color: #1e1e1e;
}

.right-side .section__title > p {
  font-size: 12px;
  color: gray;
  text-transform: initial;
  letter-spacing: initial;
  font-family: 'Calibri';
  font-weight: 400;
}

.section__subtitle {
  font-size: 14px;
  font-weight: 700;
}

.section__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5px;
  gap: 7px;
  font-size: 14px;
}

.right-side .section__list {
  padding-left: 20px;
  line-height: 1.3rem;
  font-size: 14px;
  gap: 5px;
}

.right-side .section__item {
  list-style: circle;
}

.section_projects__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.section_projects__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #1e1e1e;
  background-image: radial-gradient(
    circle,
    transparent 1%,
    rgba(255, 255, 255, 0.1) 100%
  );
  background-size: 200% 200%;
  border-radius: 20px;
}

.section__item.work-experience__item,
.section__item.education__item {
  list-style: none;
  width: 100%;
}

.section__item.work-experience__item:first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

.work-experience__position,
.education__position {
  display: flex;
  flex-direction: column;
}

.work-experience__list {
  gap: 10px !important;
}

.education__list {
  gap: 15px;
}

.education__list .section__subtitle {
  font-weight: 400;
}

.work-experience__company {
  color: #ff9900;
}

.work-experience__additional {
  gap: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side .work-experience__additional {
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  gap: unset;
}

.work-experience__date,
.work-experience__location {
  font-size: 12px;
  color: gray;
}

.work-experience__certificate {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
  font: 700 14px/1.5 'Plus Jakarta Sans', sans-serif;
  color: #85bcff;
  transition: all 0.3s ease-in-out;
}

.work-experience__certificate::after {
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  background-image: url('./assets/logo/link.svg');
  background-size: 14px;
  background-position: center;
}

.item__title {
  font-size: 15px;
}

.item__subtitle {
  color: #3d3d3d;
}

.left-side {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  min-height: 100vh;
  margin: 0 auto;
  height: auto;
  color: #cccccc;
  background: #1e1e1e;
  background-image: radial-gradient(
    circle,
    transparent 1%,
    rgba(255, 255, 255, 0.1) 100%
  );
  background-size: 200% 200%;
}

.image {
  position: relative;
  align-self: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}

.image img {
  position: absolute;
  top: -10px;
  width: 100%;
  height: auto;
}

.contacts__item,
.contacts__item a {
  display: flex;
  align-items: center;
  gap: 7px;
  list-style-type: none;
  word-wrap: normal;
}

.contacts__item span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  width: 1rem;
  height: 1rem;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
}

.contacts__item img {
  height: 1rem;
}

.right-side {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  color: #1e1e1e;
}

.section_main-info {
  background-color: rgba(204, 204, 204, 0.4);
  padding: 10px;
  font-family: 'Calibri';
  align-items: center;
  border-radius: 4px;
  gap: 3px;
}

.title {
  display: inline;
  letter-spacing: 4px;
  font-size: 20px;
  font-family: 'Gloock', sans-serif;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
}

.skills__list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.skills__item {
  padding: 3px;
  background: #cccccc;
  font-weight: 600;
  color: #1e1e1e;
  border-radius: 2px;
}

.access {
  font-size: 60%;
  text-align: center;
}
